.footer__wrapper {
  display: flex;
  /* margin: 20px auto 0; */
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #161616;
  color: #666;
}

.footer__text {
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
  color: var(--green-color);
}
