.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.social__item {
  margin-top: 5px;
  padding: 0;
}

.social__item-link {
  padding: 8px;
  color: white;
  text-transform: uppercase;
  font-size: var(--font-size-base);
  text-decoration: none;
}
