.footer__wrapper {
  display: flex;
  padding: calc(var(--spacing) * 2);
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--gray-dark-color);
  color: var(--gray-light-color);
}

.footer__text {
  margin: auto;
  font-size: var(--font-size-sm);
  color: var(--green-color);
}
