.language-selector {
  position: absolute;
  top: var(--spacing);
  right: var(--spacing);
  z-index: 1000;
}

.lang-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: var(--spacing) calc(var(--spacing) * 2);
  margin-left: var(--spacing);
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.2s;
  color: var(--white-color);
}

.lang-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

@media (max-width: 768px) {
  .lang-btn {
    padding: var(--spacing) calc(var(--spacing) * 2);
    margin-left: var(--spacing);
  }

  .language-selector {
    position: fixed;
    top: var(--spacing);
    right: var(--spacing);
    margin: 0;
    padding: 0;
  }
}
