/* GRID */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 760px;
  margin: auto;
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.main__section {
  margin-bottom: calc(var(--spacing) * 4);
}

/* TYPES */
.main__title {
  font-size: var(--font-size-xlg);
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--black-color);
  display: flex;
}

.lead__title {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  margin: 0;
  font-size: var(--font-size-xlg);
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--green-color);
  text-transform: uppercase;
}

.centered-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.centered-content {
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-size-huge);
  font-weight: 400;
  margin: var(--spacing) 0;
}

.meet__button {
  transition: transform 0.2s;
  display: flex;
  position: fixed;
  bottom: calc(var(--spacing) * 2);
  right: calc(var(--spacing) * 2);
  background-color: var(--green-color);
  color: var(--bg-color);
  text-decoration: none;
  border-radius: var(--radius);
  border: none;
  padding: var(--spacing) calc(var(--spacing) * 2);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  font-weight: bolder;
}

.meet__label {
  padding: 10px;
  line-height: 0;
  margin: 0;
}

.meet__button:hover {
  transform: scale(1.05);
}

.scroll__wrapper {
  position: fixed;
  bottom: -35px;
  right: 270px;
}
.scroll__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  font-size: 32px;
  text-decoration: none;
  color: var(--green-color);
  padding: 10px;
}

.avatar {
  width: calc(var(--spacing) * 20);
  height: calc(var(--spacing) * 20);
  margin-top: calc(var(--spacing) * 4);
  margin-bottom: calc(var(--spacing) * 2);
  border-radius: calc(var(--radius) * 20);
  object-fit: cover;
  object-position: center;
}

.prefix {
  padding-right: calc(var(--spacing) * 2);
}

/* SKILLS */
.skill__title {
  margin: 10px 0 0;
}

/* ARTICLES */
/* .articles__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.article__item {
  display: block;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #e3e3e3;
}

.article__item:last-of-type {
  border-bottom: none;
}

.article__datetime {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  font-size: 14px;
  color: gray;
}

.article__link {
  display: flex;
  width: 100%;
  font-size: 24px;
  color: #666;
  text-decoration: none;
  font-weight: 400;
}

.article__link:hover {
  color: var(--gray-dark-color);
}

.article__header {
  display: flex;
  width: 60%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 180px auto 60px auto;
}

.article__wrapper {
  display: flex;
  width: 60%;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-lg);
  color: var(--gray-dark-color);
}

.article__publish {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  font-size: 14px;
  color: #333;
  margin: 10px auto;
} */
