/* GRID */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding-left: calc(var(--spacing) * 2);
  padding-right: calc(var(--spacing) * 2);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* HEADER */
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: calc(var(--spacing) * 6);
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 8);
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.lead__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(var(--spacing) * 2);
}

.lead__title {
  font-size: var(--font-size-enormous);
  font-family: var(--font-family);
  font-weight: 900;
  color: var(--green-color);
  line-height: 0;
}

.lead__subtitle {
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 4);
  font-size: var(--font-size-md);
  font-family: var(--font-family);
  color: var(--text-color);
}

/* MAIN */
.main__section {
  margin-bottom: calc(var(--spacing) * 4);
}

.main__title {
  font-size: var(--font-size-xlg);
  font-family: var(--font-family);
  font-weight: 600;
  color: var(--black-color);
  display: flex;
}

.scroll__wrapper {
  position: fixed;
  bottom: -35px;
  right: 20px;
}

.scroll__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  font-size: 32px;
  text-decoration: none;
  color: var(--green-color);
  padding: 10px;
}

/* LINKS */
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.menu__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--spacing) calc(var(--spacing) * 2) var(--spacing) 0;
}

.menu__item-link {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing);
}

.menu__item-link:hover {
  color: var(--green-color);
}

@media (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing));
    flex: 1;
  }

  .lead__content {
    max-width: 100%;
    text-align: center;
  }

  .menu__list {
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu__item {
    padding: 0;
  }

  .menu__item-link {
    flex-direction: column;
    padding: var(--spacing);
  }
}
